.wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: $itemBg;
}
.inner {
  margin: auto;
}

.img {
  width: 400px;
  height: 400px;
}

.desc {
  font-size: 35px;
  color: rgb(88, 88, 88);
}

.login {
  margin-top: 20px;
}
