.author {
  display: flex;
  justify-items: center;
  width: 100%;
}

.login {
  font-size: 32px;
  font-weight: 400;
  color: #40a0fa;
}
.create-at {
  margin-left: auto;
  align-self: flex-start;
  font-size: 25px;
  color: rgb(151, 151, 151);
}
