.item-wrap {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
  background: $itemBg;
}

.repo-name {
  font-weight: 800;
  color: $color-brand-light;
}

.event-wrap {
  margin-left: 5px;
}

.commit-sha {
  color: $color-brand-dark;
}

.event-desc {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
}

.event-action {
  text-transform: capitalize;
}
