page {
  background: #fff;
}
.at-input {
  margin-left: 0;
  margin-bottom: 20px;
  padding-left: 32px;
}

.layout-container {
  position: relative;
}

.login-container {
  margin: 40px 80px;
}

.login-header {
  margin-bottom: 40px;
  text-align: center;
  background: #fff;
}

.logo-img {
  width: 120px;
  height: 120px;
}

.login-body {
  padding: 0 40px;
  margin-top: 30px;
  box-shadow: $boxShadow;
}

.tabs-body {
  margin-top: 40px;
}
.login-btn-container {
  padding: 40px 0;
  text-align: right;
  border-bottom: 1px solid #e3e3e3;
}
.login-btn {
  width: 180px;
  height: 70px;
  line-height: 70px;
  border-radius: 0;
}
