.wrap {
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: $navBg;
}

.lang-list {
  font-size: 28px;
}

.lang-item {
  margin: 20px 0;
  padding: 0 20px;
  border-bottom: 1px solid $navBg;
}
.active {
  color: $primary;
}
