.wrap {
  font-size: 28px;
  background: $bg;
  min-height: 100vh;
}
.header {
  display: flex;
  padding: 30px 20px 10px;
  background: white;
}

.avatar-img {
}

.full-name {
  font-size: 32px;
  font-weight: 600;
  color: $primary;
}
.name {
}

.desc {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3em;
  color: #828282;
}

.language {
}

.meta {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 400;
  color: $text-color;
}
.divider {
  height: 1px;
}

.repo-num {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 20px 20px;
  background-color: #fff;
  line-height: 1.2em;
}

.num-item {
  text-align: center;
}

.num {
  font-size: 33px;
  font-weight: 600;
}
.label {
  font-size: 28px;
  text-transform: capitalize;
}

.repo-info {
  margin-top: 30px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.95);
}

.info-issues {
}

.readme {
  margin-top: 0px;
  padding: 0 20px;
  @extend .repo-info;
}
