.wrap {
  padding: 20px;
  font-size: 28px;
}
.header {
  padding: 0 20px 10px;
}

.name {
  font-size: 35px;
  font-weight: 800;
}

.desc {
  font-weight: 500;
}

.language {
}

.meta {
  margin-top: 5px;
  font-size: 25px;
}

.repo-action {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0;
  margin-top: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.95);
}

.action-item {
  text-align: center;
  padding-top: 20px;
}

.repo-info {
  padding: 0 20px;
  margin-top: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.95);
}

.info-issues {
  .item-extra__info {
    color: #0080f8;
  }
}

.readme {
  @extend .repo-info;
}
.title {
  padding: 20px 0 20px;
  font-style: 38px;
  font-weight: 600;
  color: #0080f8;
}
