.wrap {
}

.header {
  padding: 20px;
  display: flex;
  align-items: space-between;
  background: $itemBg;
}

.divide {
  height: 1px;
  width: 100vw;
}

.basic {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  font-size: 25px;
}
.name {
  font-size: 32px;
  font-weight: 600;
  color: $primary;
}

.bio {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $text-color;
}

.Joined {
  font-size: 25px;
  font-weight: 400;
}

.info {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background: $itemBg;
}

.meta {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.item-count {
  color: rgb(43, 43, 43);
  font-weight: 600;
  font-size: 35px;
}

.item-label {
  font-weight: 400;
  font-size: 28px;
  text-transform: capitalize;
}

.logout {
  padding: 30px;
}
