.wrap {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  background: $bg;
}
.inner {
  margin: 40px auto;
}

.img {
  width: 400px;
  height: 400px;
}

.desc {
  text-align: center;
  font-size: 35px;
  color: rgb(88, 88, 88);
}

.tips {
  color: $primary;
}
