.wrap {
  padding: 10px 20px 80px;
}

.header {
  padding: 20px 10px 10px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
}

.basic {
  margin-right: auto;
  font-size: 25px;
}
.name {
  font-size: 30px;
  font-weight: 600;
}

.bio {
  margin: 10px 10px 10px 15px;
}

.action-btn {
  display: flex;
  justify-content: space-around;
  padding: 40px 80px 0;
}

.btn {
  padding: 0 40px;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

.info {
  margin-top: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
}

.meta {
  padding: 20px 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.item-count {
  color: rgb(43, 43, 43);
  font-weight: 600;
  font-size: 35px;
}

.item-label {
  font-weight: 400;
  font-size: 28px;
  text-transform: capitalize;
}

.info-list-item {
  .at-list__item-extra {
    width: auto;
  }
  .item-extra__info {
    color: rgb(43, 43, 43);
  }
  .item-extra__icon-arrow {
    color: rgb(43, 43, 43);
  }
}
