/* Custom Theme */
$color-brand: #007afb;
$color-brand-light: #409bfc;
$color-brand-dark: #0062c9;

$primary: $color-brand;
$normal: #ababab;
$bg: #f3f3f3;
$navBg: #fafafa;
$text-color: hsl(218, 5%, 45%);
$primary-text-color: #313b4c;
$boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
$itemBg: rgba(255, 255, 255, 0.9);
