.wrap {
  font-size: 28px;
  background: $bg;
  min-height: 100vh;
}
.header {
  display: flex;
  padding: 30px 20px 10px;
  background: white;
}

.avatar-img {
  min-width: 80px;
}

.full-name {
  font-size: 34px;
  font-weight: 600;
  color: $primary;
  white-space: pre-wrap;
}

.name {
}

.desc {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3em;
  color: #828282;
}

.language {
}

.meta {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 450;
  color: $primary-text-color;
}
.divider {
  height: 1px;
}

.repo-num {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 20px 20px;
  background-color: #fff;
  line-height: 1.2em;
}

.num-item {
  text-align: center;
}

.num {
  margin-top: 10px;
  font-size: 33px;
  font-weight: 600;
}
.label {
  font-size: 28px;
  text-transform: capitalize;
}

.repo-info {
  margin-top: 30px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.95);
}

.info-issues {
}

.readme {
  margin-top: 0px;
  padding: 0 20px;
  @extend .repo-info;
}

.actions-wrap {
  position: fixed;
  right: 26px;
  bottom: 26px;
  z-index: 1;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action-item {
  position: relative;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
}

.action-label {
  padding-top: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

.at-float-layout__container,
.at-float-layout,
.at-float-layout .layout-body__content,
.at-float-layout .layout-body {
  min-height: auto;
}

.at-float-layout .layout-body__content {
  padding: 30px 18px;
}

.share-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: green;
  z-index: 900;
  border: none;
  background: none;
  padding: 0;

  &::after {
    border: none;
  }
}
