.wrap {
  margin: 40px;
}

.content {
  margin-top: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
}
.confirm {
  margin-top: 20px;
}
