.wrap {
  margin-top: 20px;
}
.filter-input {
  line-height: 40px;
  height: 40px;
  font-size: 35px;
  padding: 10px 40px;
}
.at-checkbox__option {
}
.at-checkbox__option-wrap {
  padding: 20px 10px;
}
.at-checkbox__title {
  font-size: 30px;
  font-weight: 300;
}
