.drawer {
  padding: 30px;
}
.drawer-header {
}

.avatar {
  width: 120px;
  border-radius: 50%;
}

.name {
  font-weight: 800;
}

.bio {
  font-size: 24px;
  word-break: keep-all;
}

.nav-item {
  margin-top: 40px;
}
